<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982369342428-j9qga6b3ka9sthmick9doqnv4o2kqn7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982369342428-j9qga6b3ka9sthmick9doqnv4o2kqn7v</string>
	<key>API_KEY</key>
	<string>AIzaSyCi5eQjivxN7tYMLry70evCWGM1B5o851c</string>
	<key>GCM_SENDER_ID</key>
	<string>982369342428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.YourHost</string>
	<key>PROJECT_ID</key>
	<string>my-project-your-host-bc474</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-your-host-bc474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982369342428:ios:f1859d6f39f87904997519</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-your-host-bc474.firebaseio.com</string>
</dict>
</plist>